.container {
  margin-bottom: 80px;
}
.carousel-bg {
  background-color: #fceae8;
  border-radius: 10px;
}

.carousel-item {
  padding: 20px 40px;
}

.price {
  color: #ff136f;
}

.Buy-now-button {
  background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
  color: #ffff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.catg1,
.catg2,
.catg3 {
  padding: 10px 30px;
  border-radius: 20px;
}
.catg1 {
  background-color: orange;
  padding: 10px 30px;
}
.catg2 {
  background-color: orchid;
}

.catg3 {
  background-color: rgb(54, 126, 235);
}

.categories h1 {
  color: white;
}

.categories img {
  width: 90px;
}
h2 {
  margin: 2rem 0;
}
.container-card {
  box-shadow: 5px 5px 10ox lightgray;
}

.row {
  box-shadow: 5px 5px 10px lightgray;
}

.card {
  box-shadow: 5px 5px 10px lightgray;
}
